<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO66n20XLM7YZs5VD_H9Ml6SIyeZuqj0E</string>
	<key>GCM_SENDER_ID</key>
	<string>460382852168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demirdoven.ikbal.TikTok-Clone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-3e51b</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-3e51b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460382852168:ios:61bde2eeadff356750b47d</string>
</dict>
</plist>